.about-container {
    position: relative;
    background-image: url("/images/background.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.about-container::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: -1;
}

.about-title {
    text-align: center;
    color: white;
    padding: 25px;
    font-size: 50px;
}