.home-container {
    position: relative;
    background-image: url("/images/background.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.home-container::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: black;
    opacity: 0.5;
    pointer-events: none;
    z-index: -1;
}

.title {
    text-align: center;
    color: white;
}

.title h1 {
    padding-top: 25px;
    font-size: 75px;
}

.title h2 {
    padding-top: 10px;
    padding-bottom: 25px;
    font-size: 35px;
}